.footer {
  background-color: #8f569c;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
}

.footer__logo {
  max-width: 150px; /* Ajusta el tamaño del logo */
}

.footer__social {
  text-align: right; /* Alinea el texto de contacto a la derecha */
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 10px;
}

.footer__social-link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px; /* Espaciado entre el icono y el texto */
}

.footer__social-icon {
  width: 24px; /* Tamaño de los iconos */
  height: 24px;
}
