.page {
  background-color: #efedf2;
  background-size: cover;
  color: #7c7189;
  font-family: "Lora", Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}
